<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert</title>
</head>
<body bgcolor="pink">
    <a href="/">Home</a>| <a href="/insert">Insert</a>|
    <a href="/display">Display</a>|
    <a href="/update">Update</a>|
      <a href="/search">Seacrh</a>  
    <hr size="4" color="red" />
    <h1>Welcome to insert page</h1>
   

    <form action="/save" method="post" >
      <h1>Student Records</h1>
      <label> Enter Roll Number : <input type="text" name="rno" /> </label>
      <br />
      <label> Enter Name : <input type="text" name="nm" /> </label> <br />
      <label> Enter subject : <input type="text" name="sub" /> </label> <br />
      <label> Enter Fees : <input type="text" name="fs" /> </label> <br />
     <button>save</button>

    </form>
     <hr size="4" color="red" />
    www.mycompany.com || All Rights Reserved

  </body>
</html>